/* polices */
@font-face
{
    font-family: "solway";
    src: url(fonts/Solway-Bold.otf);
    src: url(fonts/Solway-ExtraBold.otf);
    src: url(fonts/Solway-Light.otf);
    src: url(fonts/Solway-Medium.otf);
    src: url(fonts/Solway-Regular.otf);
}

body
{
    font-family: 'solway', "Arial Black", sans-serif;
    background-image: url(images/dinobackground.jpg);
}

/* entête + menu de navigation */
header {
    display: flex;
    z-index: 1;
    position: fixed;
    background-color: white;
    border-bottom: 3px dashed black;
    box-shadow: 0px 5px 30px black ;
    top: 0px;
    left: 0px;
    width: 100%;
}

#logo {
    width: 20%;
    margin-left: 50px;
    margin-top: 10px;
}

nav {
   width: 80%;
   padding-top: 50px;
   margin-left: 80px;
}

nav a {
    font-size: 3em;
    color: black;
    text-align: center;
    margin-right: 100px;
    margin-top: 20px;;
    justify-content: center;
}

/* Slider*/
.slides {
    max-width: 1000px;
    position: relative;
    margin-top: 230px;
    margin-left: 25%;
    height: 650px;
}


.slide_img {
    width: 100%;
    border-radius: 10px;
    border: 3px solid black;
}

/* titre et description*/
.slide_content {
    position: absolute;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5);
    right: 0;
    left: 5px;
    height: 130px;
    padding : 10px;
    border-radius: 5px;
}

.slide_title {
    color : black;
    font-size: 1.8em;
    font-weight: bold;
    margin-top: 10px;
}

.slide_description {
    color: black;
    font-size: 1.3em;
    font-weight: bold;
    width: 99%;
}

/*boutons*/
.fa-chevron-left, .fa-chevron-right, .fa-play, .fa-pause {
    color : black;
    font-size: 2em;
    cursor: pointer;
    position: absolute;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    transition: 0.6s ease;
    border-radius: 5px;
    user-select: none;
}

.fa-chevron-left:hover, .fa-chevron-right:hover, .fa-play:hover, .fa-pause:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.fa-chevron-left {
    left: 3px;
    top: 50%;
}

.fa-chevron-right {
    right: -3px;
    top: 50%;
}

.fa-play {
    top: 25px;
    left: 440px;
}

.fa-pause {
    top: 25px;
    left: 500px;
}

/* Carte */
#map {
    height: 600px;
    width: 50%;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 10px;
    border: 2px dashed black;
}